/* Work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400;500;600;700;800&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* navbar section styles */
.nav-container {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0px auto;
    min-height: 100px;
}

.logo-container {
    display: flex;
    gap: 10px;
    width: 50%;
}

.logo-container img {
    width: 70px;
    object-fit: contain;
}

.logo-style {
    color: #FF42A5;
    font-size: 45px;
    font-weight: 700;
}

.logo-container p {
    font-size: 45px;
    font-weight: 700;
}

.nav-items-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.nav-items-container a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.btn-foloow-us {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* banner section styles */
.banner-container {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0px auto;
}

.banner {
    background-color: #faf7fd;
}

.banner-text-items {
    width: 50%;
}

.banner-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
}

.banner-bold-tittle {
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin: 0px;
}

.banner-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.btn-banner1 {
    color: white;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    padding: 20px 40px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-banner2 {
    color: white;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    padding: 20px 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

/* gamer section styles */
.gamer-section {
    background-color: #fff9fc;
}

.gamer-section-container {
    display: flex;
    align-items: center;
    max-width: 1100px;
    margin: 0px auto;
    padding-bottom: 20px;
}

.gamer-section-img {
    width: 50%;
}

.gamer-section-img img {
    width: 100%;
}

.gamer-section-content {
    width: 50%;
    text-align: right;
}

.gamer-section-title {
    font-size: 48px;
    font-weight: 700;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    margin-bottom: 24px;
    -webkit-background-clip: text;
}

.gamer-section-description {
    color: #534C64;
    font-size: 15px;
    font-weight: 400;
}

.gamer-section-content button {
    color: white;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
    padding: 20px 30px;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

/* online section style */
.online-section-container {
    max-width: 1100px;
    margin: 0px auto;
}

.online-section-content {
    display: flex;
    gap: 15px;
}

.card img {
    width: 270px;
    height: 300px;
}

.card p {
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
}

.online-section-text {
    text-align: center;
}

.online-text-style {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.online-section-description {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}

.online-section-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}





/* responsive for small devices */
@media screen and (max-width:576px) {

    .nav-container,
    .nav-items-container {
        flex-direction: column;
    }

    .nav-items-container a {
        margin-top: 20px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text-items,
    .banner-img {
        width: 100%;
        padding: 40px;
        align-items: center;
    }
}